<div class='ls-login-parent'>
  <div class='ls-login-inner'>
    <div class='ls-login-container'>
      <div class='login-box'>

        <h1 class="logo-login">
        <a href="#" class="ls-ico-earth">
          <small>Campus Code</small>
          Vendas
        </a>
        </h1>
        <h2>Editar <%= current_user.name.split.first %></h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :email,class: 'ls-label' %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: 'ls-login-bg-user'%>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
              <%= f.label :password,class: 'ls-label'%> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, autocomplete: "new-password", class: 'ls-login-bg-password' %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation, class: 'ls-label' %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>

            <div class="field">
              <%= f.label :current_password , class: 'ls-label'%> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "current-password" %>
            </div>

            <div class="actions">
              <%= f.submit "Update",  class: 'ls-btn ls-btn-sm' %>
            </div>
          <% end %>

          <h3>Cancel my account</h3>

          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), class: 'ls-btn ls-btn-danger ls-btn-ls', data: { confirm: "Are you sure?" }, method: :delete %></p>

          <%= link_to "voltar", :back %>
     </div>
    </div>
  </div>
<div>